SpeechRecognition
pydub
streamlit-mic-recorder
langchain
langchain-google-vertexai
functions-framework
langchain-community
sqlalchemy
sqlalchemy-bigquery
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
pandas-gbq
pandas
google-generativeai
faker
