streamlit
pandas
faker
google-generativeai
langchain
langchain-google-genai
langchain-google-vertexai
functions-framework
langchain-community
fastapi
uvicorn
sqlalchemy
sqlalchemy-bigquery
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
pandas-gbq
